<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
lang="uk">

<head>
    <title>Реєстрація</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script th:src="@{/js/date.format.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/jquery-dropdate.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link th:href="@{/css/registration_2.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.css}" rel="stylesheet" type="text/css">
</head>
<body>
<form th:action="@{/saveUser}" method="POST">
    <div class="container">

        <div class="row">

            <div class="col-lg-3"></div>

            <div class="col-lg-6">

                <div id="ui">
                    <div class="op">
                        <h1 class="text-center">Реєстраційна форма</h1>
                    </div>

                    <form class="form-group text-center">
                        <br>

                        <div class="row ">

                            <div class="col-lg-6">
                                <h4 style="text-align: center; color: white;">Логін</h4>
                                <input type="text" name="username" class="form-control"
                                       placeholder="Введіть свій нікнейм..">
                            </div>

                            <div class="col-lg-6">
                                <h4 style="text-align: center; color: white;">Пароль</h4>
                                <input type="password" name="password" class="form-control"
                                       placeholder="Введіть пароль..">
                            </div>
                        </div>
                        <br>

                        <br>
                        <h4 style="text-align: center; color: white;">Роль</h4>

                       <style>
                           .klass{
                           align-items: center;
                        justify-content: space-around;
                        display: flex;}
                       </style>
                        <div class="klass">


                        <select name="role" class="selectpicker" data-style="btn-warning">
                            <option value=""> --</option>
                            <option th:each="entry : ${mapRoles.entrySet()}"
                                    th:value="${entry.value}"
                                    th:utext="${entry.key}">
                            </option>
                        </select>
                        </div>


                        <br>
                        <br>
                        <br>

                        <div><input id="btn" type="submit" class="btn btn-block  btn-warning" value="Далі"/></div>


                    </form>
                </div>
            </div>

            <div class="col-lg-3"></div>

        </div>

    </div>


</form>
<script>
    $('.selectpicker').selectpicker({
        style: 'btn-info',
        size: 4
    });
</script>


</body>
</html>