<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Registration Part 2 </title>
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script th:src="@{/js/date.format.js}"></script>
        <script th:src="@{/js/jquery-dropdate.js}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link th:href="@{/css/registration_2.css}"  rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--<div th:if="${param.error}">-->
            <!--Invalid username and password.-->
        <!--</div>-->
        <!--<div th:if="${param.logout}">-->
            <!--You have been logged out.-->
        <!--</div>-->
        <form  th:action="@{/saveUser}" method="POST">
        <div class ="container">

            <div  class ="row">

                <div class = "col-lg-3"></div>

                <div class = "col-lg-6">

                    <div id ="ui">
                        <div class="op">
                            <h1 class="text-center">Registration Form</h1>
                        </div>

                        <form class ="form-group text-center">
                            <br>

                            <div class="row ">

                                <div class = "col-lg-6">
                                    <label>Логін</label>
                                    <input type ="text" name="username" class = "form-control" placeholder="Введіть свій нікнейм..">
                                </div>

                                <div class = "col-lg-6">
                                    <label> Пароль</label>
                                    <input type="password" name="password"  class = "form-control" placeholder="Введіть пароль..">
                                </div>
                            </div>
                            <br>
                            <br>
                            <label>Роль</label>
                            <br>

                            <select name="role" class="selectpicker" data-style="btn-warning">
                                <option value=""> -- </option>
                                <option th:each="entry : ${mapRoles.entrySet()}"
                                        th:value="${entry.value}"
                                        th:utext="${entry.key}">
                                </option>
                            </select>







                            <br>
                            <br>
                            <br>

                            <div><input id="btn" type="submit" class="btn btn-block  btn-warning" value="Далі"/></div>


                        </form>
                    </div>
                </div>

                <div class = "col-lg-3"></div>

            </div>

        </div>


                <!--<select name="role">-->
                <!--<option value="ROLE_STUDENT">Студент</option>-->
                <!--<option value="ROLE_ADMIN">Адміністратор</option>-->
                <!--<option value="ROLE_TEACHER">Вчитель</option>-->
                <!--<option value="ROLE_PARENT">Батько</option>-->
                <!--<option value="ROLE_CLASSTHEACHER">Класний керівник</option>-->
                <!--<option value="ROLE_DEPUTI">Зауч</option>-->
                <!--</select> -->


        </form>
    <!--<script>-->
    <!--$("#btn").click(function (e) {-->
         <!--// e.preventDefault();-->
        <!--let username = $("input[name='username']").val();-->
        <!--let password = $("input[name='password']").val();-->
        <!--let email = $("input[name='email']").val();-->
        <!--let phone = $("input[name='phone']").val();-->
        <!--let role = $("select[name='role']").val();-->
        <!--console.log(username);-->
        <!--console.log(password);-->
        <!--console.log(email);-->
        <!--console.log(phone);-->
        <!--console.log(role);-->

    <!--})-->


    <!--</script>-->

    </body>
</html>