<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Test registration</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/multiple-select.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>


<!--<option value=""> &#45;&#45; </option>-->
<!--<option th:each="entry : ${mapSubjects.entrySet()}"-->
        <!--th:value="${entry.value}"-->
        <!--th:utext="${entry.key}">-->

<form th:action="@{/saveFunctional}" method="GET">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/crlcu/multiselect/master/dist/js/multiselect.min.js"></script>
    <!--<script th:src="@{/js/multiselect.js}"></script>-->
    <div class="row">
        <!-- Left side select -->
        <div class="col-xs-5 col-md-5 col-sm-5">
            <select name="from[]" id="mySideToSideSelect" class="form-control" size="8" multiple="multiple">
            <!--<select name="name" id="mySideToSideSelect" class="form-control" size="8" multiple="multiple">-->
                <option value=""> -- </option>
                <option th:each="entry : ${mapSubjects.entrySet()}"
                        th:value="${entry.value}"
                        th:utext="${entry.key}">
            </select>
        </div>

        <!-- Action buttons -->
        <div class="col-xs-2 col-md-2 col-sm-2">
            <button type="button" id="mySideToSideSelect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="mySideToSideSelect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="mySideToSideSelect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="mySideToSideSelect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        </div>

        <!-- Right side select -->
        <div class="col-xs-5 col-md-5 col-sm-5">
            <select name="name" id="mySideToSideSelect_to" class="form-control" size="8" multiple="multiple"></select>
            <!--<select name="to[]" id="mySideToSideSelect_to" class="form-control" size="8" multiple="multiple"></select>-->
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#mySideToSideSelect').multiselect();
        });
    </script>
    <div><input id="btn" type="submit" value="Далі"/></div>

</form>

<script>
    $("#btn").click(function (e) {
        // e.preventDefault();
        let name = $("#mySideToSideSelect_to").val();

        console.log(name);

    })


</script>
</body>
</html>