<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Registration User </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<form  th:action="@{/saveStudents}" method="Get">
    <div><label> Name:  <input type="text"  name="name"/> </label></div>
    <div><label> Surname:  <input type="text" name="surname"/></label></div>
    <div><label> Email: <input type="text" name="email"/> </label></div>
    <div><label> Phone: <input type="text" name="phone"/> </label></div>
    <div><label> Adress: <input type="text" name="adress"/> </label></div>

    <div><lable>Gender:
        <input type="radio" name="gender" value="male">Male
        <input type="radio" name="gender" value="female">Female
    </lable></div>
    <div><input id="btn" type="submit" value="Sign In"/></div>

</form>
<!--<script>-->
    <!--$("#btn").click(function (e) {-->
        <!--// e.preventDefault();-->
        <!--let username = $("input[name='username']").val();-->
        <!--let password = $("input[name='password']").val();-->
        <!--let email = $("input[name='email']").val();-->
        <!--let phone = $("input[name='phone']").val();-->
        <!--let role = $("select[name='role']").val();-->
        <!--console.log(username);-->
        <!--console.log(password);-->
        <!--console.log(email);-->
        <!--console.log(phone);-->
        <!--console.log(role);-->

    <!--})-->

</body>
</html>