<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/animate.min.css}">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/jquery-nestable.css}"/>
    <link rel="stylesheet" th:href="@{css/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker3.min.css}">

    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/color_skins.css}">
</head>
<body>


<div class="row clearfix">

    <div class="col-lg-3 col-md-12">
        <div class="card open_task">
            <div class="header">
                <h2>Open</h2>
            </div>
            <div class="body taskboard">
                <div class="dd" data-plugin="nestable">
                    <ol class="dd-list">
                        <h5>Add class</h5>
                        <input type="text" id="name" name="name" size="10"><br>
                        <button type="button" class="btn btn-default">Default</button>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>User List</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover m-b-0 c_list">
                            <thead class="thead-dark">
                            <tr>
                                <th>
                                    <label class="fancy-checkbox">
                                        <input class="select-all" type="checkbox" name="checkbox">
                                        <span></span>
                                    </label>
                                </th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 50px;">
                                    <label class="fancy-checkbox">
                                        <input class="checkbox-tick" type="checkbox" name="checkbox">
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <img src="../assets/images/xs/avatar1.jpg" class="rounded avatar" alt="">
                                    <p class="c_name">John Smith</p>
                                </td>
                                <td>
                                    <span class="phone"><i class="fa fa-phone m-r-10"></i>264-625-2583</span>
                                </td>
                                <td>
                                    <address><i class="fa fa-map-marker"></i>123 6th St. Melbourne, FL 32904</address>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
                                    <button type="button" data-type="confirm" class="btn btn-link btn-sm js-sweetalert" title="Delete"><i class="fa fa-trash-o text-danger"></i></button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>