<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HHH</title>
</head>
<body>
<div  th:action="@{/allhref}" method="Get">

<a th:href="@{'/marks'}"><button>MARKS</button></a>
<a th:href="@{'/chat'}"><button>CHAT</button></a>
<a th:href="@{'/homework'}"><button>HOMEWORK</button></a>
<a th:href="@{'/lesson'}"><button>LESSON</button></a>
<a th:href="@{'/news'}"><button>NEWS</button></a>
<a th:href="@{'/visited'}"><button>VISITED</button></a>
<a th:href="@{'/account'}"><button>ACCOUNT</button></a>

</div>

</body>
</html>