<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Education</title>


    <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{favicon.ico}">-->
    <!--<link th:href="@{/css-family=Raleway-300,400,700,800-Lato-300,400,700.css}"  rel="stylesheet" type="text/css">-->
    <link th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/ionicons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
    <!--		Main Slider-->
    <link th:href="@{/css/settings.css}"  type="text/css" rel="stylesheet" media="screen">
    <link th:href="@{/css/layers.css}"  type="text/css" rel="stylesheet" media="screen">
    <!-- carousel -->
    <!--Light box-->
    <link th:href="@{/css/jquery.fancybox.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}"  rel="stylesheet">

</head>


</head>
<body>

<!--<img src="/img/first.jpg">-->
<header>
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- START LOGO DESIGN AREA -->
                    <div class="logo">
                        <a href="index.html">
                            <img th:src="@{/img/logo.png}"  alt="Logo"> </a>
                    </div>
                    <!-- END LOGO DESIGN AREA -->
                </div>
                <div class="col-md-10">

                </div>
                <!-- END MENU DESIGN AREA -->
            </div>
        </div>
    </div>


</header>
<!--Header End Here-->

<!--  Main Banner Start Here-->
<div class="main-banner banner_up">
    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-129"  >
                    <!-- MAIN IMAGE -->
                    <img th:src="@{/img/1.jpg}"   alt=""  class="rev-slidebg" >
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title tp-resizeme "
                         id="slide-129-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','50','0']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','700','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on" >
                        <div class="banner-text text-center">
                            <span class="sub-text">best Education Hub</span>
                            <h2>You Can <span>Learn Every Thing </span></h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.
                            </p>
                            <a class="btn-text" th:href="@{javascript:if(confirm(%27http://theembazaar.com/demo/goldey/html/mark-educate/about_us.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27http://theembazaar.com/demo/goldey/html/mark-educate/about_us.html%27}" > read more</a>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-130" data-title="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img th:src="@{/img/6.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/banner/slider2.jpg"  alt=""   class="rev-slidebg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme "
                         id="slide-130-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">best Education Hub</span>
                            <h2>You Can <span>Learn Every Thing </span></h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.
                            </p>
                            <a class="btn-text" th:href="@{#}"> read more</a>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-131">
                    <!-- MAIN IMAGE -->
                    <img th:src="@{/img/slider3.jpg}"   alt=""   class="rev-slidebg " >
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme "
                         id="slide-131-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">best Education Hub</span>
                            <h2>You Can <span>Learn Every Thing </span></h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.
                            </p>
                            <a class="btn-text"
                               th:href="@{javascript:if(confirm(%27http://theembazaar.com/demo/goldey/html/mark-educate/about_us.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27http://theembazaar.com/demo/goldey/html/mark-educate/about_us.html%27" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/about_us.html}"> read more</a>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>
<!--  Main Banner End Here-->

<!--&lt;!&ndash;Our Services&ndash;&gt;-->
<!--<section id="our-services" class="padding ptb-xs-40 text-center">-->
    <!--<div class="container">-->
        <!--<div class="row pb-60">-->
            <!--<div class="col-md-12 col-lg-12 mb-20">-->
                <!--<h2><span>Course</span> Categories</h2>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->

            <!--<div class="col-lg-4 col-md-6">-->
                <!--<div class="featured-item feature-bg-box mb-100 gray-bg">-->
                    <!--<div class="icon">-->
                        <!--<i class="ion-easel"></i>-->
                    <!--</div>-->
                    <!--<div class="title text-uppercase">-->
                        <!--<h4>BUSINESS PLANNING</h4>-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6">-->
                <!--<div class="featured-item feature-bg-box gray-bg mb-100 sub-color_hover">-->
                    <!--<div class="icon">-->
                        <!--<i class="ion-stats-bars sub-color"></i>-->
                    <!--</div>-->
                    <!--<div class="title text-uppercase">-->
                        <!--<h4>MARKETING PLANNING</h4>-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6">-->
                <!--<div class="featured-item feature-bg-box gray-bg mb-100">-->
                    <!--<div class="icon">-->
                        <!--<i class="ion-arrow-graph-up-left"></i>-->
                    <!--</div>-->
                    <!--<div class="title text-uppercase">-->
                        <!--<h4> MARKET RESEARCH</h4>-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-4 col-md-6">-->
                <!--<div class="featured-item feature-bg-box gray-bg sub-color_hover mb-sm-100">-->
                    <!--<div class="icon">-->
                        <!--<i class="ion-thumbsup sub-color"></i>-->
                    <!--</div>-->
                    <!--<div class="title text-uppercase">-->
                        <!--<h4>Risk Management</h4>-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-4 col-md-6">-->
                <!--<div class="featured-item feature-bg-box gray-bg ">-->
                    <!--<div class="icon">-->
                        <!--<i class="ion-pie-graph"></i>-->
                    <!--</div>-->
                    <!--<div class="title text-uppercase">-->
                        <!--<h4>TAXATION SERVICES</h4>-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-4 col-md-6">-->
                <!--<div class="featured-item feature-bg-box gray-bg sub-color_hover mb-xs-0 ">-->
                    <!--<div class="icon">-->
                        <!--<i class="ion-help-buoy sub-color"></i>-->
                    <!--</div>-->
                    <!--<div class="title text-uppercase">-->
                        <!--<h4>Suppport Team</h4>-->
                    <!--</div>-->
                    <!--<div class="desc">-->
                        <!--Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;Our Services End &ndash;&gt;-->

<!--&lt;!&ndash; Counter Section &ndash;&gt;-->
<!--<div class="fact-counter-wrapper padding ptb-xs-40 light-color parallax overlay-dark">-->
    <!--<div class="container text-center">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-lg-3 mb-sm-40 mb-xs-30">-->
                <!--<div class="single-fact">-->
                    <!--<div class="icon-boxed">-->
                        <!--<i class="ion-ios-albums-outline"></i>-->
                    <!--</div>-->
                    <!--<span class="counter" data-count="75">0</span>-->
                    <!--<p>-->
                        <!--Projects Finished-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-lg-3 mb-xs-30">-->
                <!--<div class="single-fact">-->
                    <!--<div class="icon-boxed">-->
                        <!--<i class="ion-social-reddit-outline"></i>-->
                    <!--</div>-->
                    <!--<span class="counter" data-count="70">0</span>-->
                    <!--<p>-->
                        <!--Happy Clients-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-lg-3 mb-xs-30">-->
                <!--<div class="single-fact">-->
                    <!--<div class="icon-boxed">-->
                        <!--<i class="ion-ios-people-outline"></i>-->
                    <!--</div>-->
                    <!--<span class="counter" data-count="60">0</span>-->
                    <!--<p>-->
                        <!--Team-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-lg-3 ">-->
                <!--<div class="single-fact">-->
                    <!--<div class="icon-boxed">-->
                        <!--<i class="ion-ios-stopwatch-outline"></i>-->
                    <!--</div>-->
                    <!--<span class="counter" data-count="24">0</span>-->
                    <!--<p>-->
                        <!--Hours of work-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Counter Section End&ndash;&gt;-->

<!--&lt;!&ndash;Course Section section Here&ndash;&gt;-->
<!--<section class="course-section__block padding ptb-xs-40">-->
    <!--<div class="container">-->
        <!--<div class="row pb-30">-->
            <!--<div class="col-sm-10 mb-20 mb-xs-0">-->
                <!--<h2><span>Popular</span> Courses</h2>-->

            <!--</div>-->
            <!--<div class="col-sm-2 mt-20 text-right text-xs-left hidden-xs">-->
                <!--<a th:href="#" class="more_btn__block mt-0">More <i class="fa fa-angle-right"></i></a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row pb-30">-->
            <!--<div class="col-lg-3 col-md-6 mb-30">-->
                <!--<div class="courses-block img-scale">-->

                    <!--<figure class="img__block">-->
                        <!--<img class="img-responsive" th:src="{@/img/blog.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/img1.jpg" alt="courses">-->

                    <!--</figure>-->
                    <!--<div class="courses-content__block">-->
                        <!--<div class="class_time">-->
                            <!--Classes <i class="fa fa-clock-o"></i> 10 am - 11 am-->
                        <!--</div>-->
                        <!--<h3 class="item-title"><a th:href="#">Philosopphy</a></h3>-->
                        <!--<p class="item-content">-->
                            <!--Rmply dummy text printing setting industry it’s free demo.-->
                        <!--</p>-->
                        <!--<ul class="courses-info">-->

                            <!--<li class="courses-info__price">-->
                                <!--<strong class="color">$20.00 </strong>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span><i class="fa fa-users"></i> 200</span>-->
                                <!--<span class="heart_icon"> <i class="fa fa-heart-o"></i></span>-->
                            <!--</li>-->

                        <!--</ul>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-6 mb-30">-->
                <!--<div class="courses-block img-scale">-->

                    <!--<figure class="img__block">-->
                        <!--<img class="img-responsive" src="@{/img/img2.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/img2.jpg" alt="courses">-->

                    <!--</figure>-->
                    <!--<div class="courses-content__block">-->
                        <!--<div class="class_time">-->
                            <!--Classes <i class="fa fa-clock-o"></i> 10 am - 11 am-->
                        <!--</div>-->
                        <!--<h3 class="item-title"><a th:href="#">IELTS</a></h3>-->
                        <!--<p class="item-content">-->
                            <!--Rmply dummy text printing setting industry it’s free demo.-->
                        <!--</p>-->
                        <!--<ul class="courses-info">-->

                            <!--<li class="courses-info__price">-->
                                <!--<strong class="color"> <del class="mr-10">$50</del> $20.00 </strong>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span><i class="fa fa-users"></i> 200</span>-->
                                <!--<span class="heart_icon"> <i class="fa fa-heart-o"></i></span>-->
                            <!--</li>-->

                        <!--</ul>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-6 mb-xs-30">-->
                <!--<div class="courses-block img-scale">-->

                    <!--<figure class="img__block">-->
                        <!--<img class="img-responsive" th:src="@{/img/img3.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/img3.jpg" alt="courses">-->

                    <!--</figure>-->
                    <!--<div class="courses-content__block">-->
                        <!--<div class="class_time">-->
                            <!--Classes <i class="fa fa-clock-o"></i> 10 am - 11 am-->
                        <!--</div>-->
                        <!--<h3 class="item-title"><a th:href="#">Regular MBA</a></h3>-->
                        <!--<p class="item-content">-->
                            <!--Rmply dummy text printing setting industry it’s free demo.-->
                        <!--</p>-->
                        <!--<ul class="courses-info">-->

                            <!--<li class="courses-info__price">-->
                                <!--<strong class="color-green">FREE </strong>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span><i class="fa fa-users"></i> 200</span>-->
                                <!--<span class="heart_icon"> <i class="fa fa-heart-o"></i></span>-->
                            <!--</li>-->

                        <!--</ul>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-6">-->
                <!--<div class="courses-block img-scale">-->

                    <!--<figure class="img__block">-->
                        <!--<img class="img-responsive" src="@{/img/img4.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/img4.jpg" alt="courses">-->

                    <!--</figure>-->
                    <!--<div class="courses-content__block">-->
                        <!--<div class="class_time">-->
                            <!--Classes <i class="fa fa-clock-o"></i> 10 am - 11 am-->
                        <!--</div>-->
                        <!--<h3 class="item-title"><a href="#">GMAT</a></h3>-->
                        <!--<p class="item-content">-->
                            <!--Rmply dummy text printing setting industry it’s free demo.-->
                        <!--</p>-->
                        <!--<ul class="courses-info">-->

                            <!--<li class="courses-info__price">-->
                                <!--<strong class="color">$20.00 </strong>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span><i class="fa fa-users"></i> 200</span>-->
                                <!--<span class="heart_icon"> <i class="fa fa-heart-o"></i></span>-->
                            <!--</li>-->

                        <!--</ul>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;Course Section section End&ndash;&gt;-->

<!--&lt;!&ndash;Testimonial&ndash;&gt;-->
<!--<section class="testimonial-block__section padding ptb-xs-40 pb-xs-80">-->
    <!--<div class="container">-->
        <!--<div class="row text-center">-->

            <!--<div class="col-md-8 col-sm-push-2 col-lg-6 offset-md-3 mb-30">-->
                <!--<div class="heading-box  heading-bg">-->
                    <!--<h2><span>Our </span> Tetstimonial</h2>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <!--<div id="testimonial" class="nf-carousel-theme nf-carousel-arrow">-->
            <!--<div class="testimonial-box row">-->
                <!--<div class="col-md-5 col-lg-5">-->
                    <!--<img th:src="@{/img/people.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/quote-author2.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="col-md-7 col-lg-7">-->
                    <!--<div class="quote-box">-->
                        <!--<div class="quote-icon quote-left">-->
                            <!--<i class="fa fa-quote-left" aria-hidden="true"></i>-->
                        <!--</div>-->
                        <!--<div class="quote-text">-->
                            <!--<p>-->
                                <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply Lorem Ipsum has been.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="quote-icon quote-right">-->
                            <!--<i class="fa fa-quote-right" aria-hidden="true"></i>-->
                            <!--<strong class="quote-author">John Smith, Eng.</strong>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="testimonial-box row">-->
                <!--<div class="col-md-5 col-lg-5">-->
                    <!--<img th:src="@{/img/people.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/quote-author.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="col-md-7 col-lg-7">-->
                    <!--<div class="quote-box">-->
                        <!--<div class="quote-icon quote-left">-->
                            <!--<i class="fa fa-quote-left" aria-hidden="true"></i>-->
                        <!--</div>-->
                        <!--<div class="quote-text">-->
                            <!--<p>-->
                                <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply Lorem Ipsum has been.-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="quote-icon quote-right">-->
                            <!--<i class="fa fa-quote-right" aria-hidden="true"></i>-->
                            <!--<strong class="quote-author">John Smith, Eng.</strong>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;End Testimonial&ndash;&gt;-->

<!--&lt;!&ndash;Testimonial End&ndash;&gt;-->
<!--&lt;!&ndash;Mobile app Section&ndash;&gt;-->
<!--<section id="mobile-app" class="light-gray pt-80 pt-xs-40">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4 col-lg-4 hidden-xs">-->
                <!--<div class="mobile-app-image">-->
                    <!--<img th:src="@{/img/flyer.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/mobileapp.png" class="img-responsive" alt="">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8 col-lg-8 col-xs-12 align-items-center d-flex">-->
                <!--<div class="mobile-app-description pb-xs-30">-->
                    <!--<h3><span>Download Our</span>-->
                        <!--<br>-->
                        <!--Mobile App</h3>-->
                    <!--<p>-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis lectus vitae lobortis dapibus. Aliquam nunc nunc, eleifend a sodales vel, tempor sit amet mi. Sed quis orci at orci elementum hendrerit. Nulla libero arcu, dapibus ut nunc vel, luctus fringilla mi. Nullam in fermentum ipsum. Mauris iaculis dui hendrerit, mattis erat id, porttitor ipsum.-->
                    <!--</p>-->
                    <!--<p class="pt-30 text-center-xs">-->
                        <!--<a class="btn btn-appstore" th:href="javascript:void(0);" role="button"></a>-->
                        <!--<a class="btn btn-googleplay btn-appstore" th:href="javascript:void(0);" role="button"></a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; End Container &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; Section End &ndash;&gt;-->

<!--&lt;!&ndash;Blog Section&ndash;&gt;-->
<!--<section id="blog" class="padding ptb-xs-40">-->
    <!--<div class="container">-->
        <!--<div class="row text-center">-->
            <!--<div class="col-md-8 col-sm-push-2 col-lg-6 offset-sm-3 mb-30">-->
                <!--<div class="heading-box  heading-bg">-->
                    <!--<h2><span>Our </span> News</h2>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-4 col-md-12 mb-xs-30 mb-sm-30">-->
                <!--<div class="single-blog-post">-->
                    <!--<div class="img-box">-->
                        <!--<img th:src="@{blog-3.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/blog/blog-3.jpg" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="box">-->
                                <!--<div class="content">-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a th:href="#"><i class="fa fa-link"></i></a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="content-box">-->
                        <!--<div class="date-box">-->
                            <!--<div class="inner">-->
                                <!--<div class="date">-->
                                    <!--<b>24</b> apr-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="content">-->
                            <!--<a th:href="javascript:if(confirm(%27http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html%27" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html"><h3>Provide qualtiy productivity with certified engineers</h3></a>-->
                            <!--<p>-->
                                <!--Lorem ipsum dolor sit amet, consectet adipi sed do eiusmod tempor incididunt modo labore et dolore magna aliqu...-->
                            <!--</p>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-12 col-lg-4 mb-xs-30 mb-sm-30">-->
                <!--<div class="single-blog-post">-->
                    <!--<div class="img-box">-->
                        <!--<img th:src="@{blog-1.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/blog/blog-1.jpg" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="box">-->
                                <!--<div class="content">-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a th:href="#"><i class="fa fa-link"></i></a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="content-box">-->
                        <!--<div class="date-box">-->
                            <!--<div class="inner">-->
                                <!--<div class="date">-->
                                    <!--<b>24</b> apr-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="content">-->
                            <!--<a th:href="javascript:if(confirm(%27http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html%27" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html"><h3>Provide qualtiy productivity with certified engineers</h3></a>-->
                            <!--<p>-->
                                <!--Lorem ipsum dolor sit amet, consectet adipi sed do eiusmod tempor incididunt modo labore et dolore magna aliqu...-->
                            <!--</p>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-12 col-lg-4 ">-->
                <!--<div class="single-blog-post">-->
                    <!--<div class="img-box">-->
                        <!--<img th:src="@{blog-3.jpg}" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/blog/blog-3.jpg" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="box">-->
                                <!--<div class="content">-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a th:href="#"><i class="fa fa-link"></i></a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="content-box">-->
                        <!--<div class="date-box">-->
                            <!--<div class="inner">-->
                                <!--<div class="date">-->
                                    <!--<b>24</b> apr-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="content">-->
                            <!--<a th:href="javascript:if(confirm(%27http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html%27" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/blog-details.html"><h3>Provide qualtiy productivity with certified engineers</h3></a>-->
                            <!--<p>-->
                                <!--Lorem ipsum dolor sit amet, consectet adipi sed do eiusmod tempor incididunt modo labore et dolore magna aliqu...-->
                            <!--</p>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;Blog Section End&ndash;&gt;-->

<!--&lt;!&ndash;Footer Section Start&ndash;&gt;-->
<!--<footer id="footer">-->
    <!--<div id="footer-widgets" class="container style-1">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-4">-->
                <!--<div class="widget widget_text">-->
                    <!--<h2 class="widget-title"><span>ABOUT US</span></h2>-->
                    <!--<div class="textwidget">-->
                        <!--<a th:href="javascript:if(confirm(%27http://theembazaar.com/demo/goldey/html/mark-educate/index1.html  \n\nThis file was not retrieved by Teleport Pro, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27http://theembazaar.com/demo/goldey/html/mark-educate/index1.html%27" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/index1.html" class="footer-logo"> <img src="footer-logo.png" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/images/footer-logo.png" alt="Awesome Logo"> </a>-->
                        <!--<p>-->
                            <!--Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit ege  Aenean suscipit eget mi act fermentum phasellus.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<div class="widget widget_links">-->
                    <!--<h2 class="widget-title"><span>COMPANY LINKS</span></h2>-->
                    <!--<ul class="wprt-links clearfix col2">-->
                        <!--<li>-->
                            <!--<a th:href="#">History</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Services</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Team &amp; Awards</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Delivery Methods</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Community</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Safety</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">News &amp; Events</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Sustainability</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">FAQ</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Portfolio</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Contact Us</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#">Shop</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<div class="widget widget_information">-->
                    <!--<h2 class="widget-title"><span>CONTACT INFO</span></h2>-->
                    <!--<ul>-->
                        <!--<li class="address clearfix">-->
                            <!--<span class="hl">Address:</span>-->
                            <!--<span class="text">123 Main Street, St. NW Ste, 1 Washington, DC,USA.</span>-->
                        <!--</li>-->
                        <!--<li class="phone clearfix">-->
                            <!--<span class="hl">Phone:</span>-->
                            <!--<span class="text">+56 (0) 012 345 6789</span>-->
                        <!--</li>-->
                        <!--<li class="email clearfix">-->
                            <!--<span class="hl">E-mail:</span>-->
                            <!--<span class="text">business@support.com</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="widget widget_socials">-->
                    <!--<div class="socials">-->
                        <!--<a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                        <!--<a target="_blank" href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--<a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>-->
                        <!--<a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="bottom" class="clearfix style-1">-->
        <!--<div id="bottom-bar-inner" class="wprt-container">-->
            <!--<div class="bottom-bar-inner-wrap">-->
                <!--<div class="bottom-bar-content">-->
                    <!--<div id="copyright">-->
                        <!--EDUCATION TEMPLATE © DESIGN BY MARK EDUCATE-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /#copyright &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.bottom-bar-content &ndash;&gt;-->
                <!--<div class="bottom-bar-menu">-->
                    <!--<ul class="bottom-nav">-->
                        <!--<li>-->
                            <!--<a th:href="#/">HISTORY</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#/">FAQ</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a th:href="#/">EVENTS</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.bottom-bar-menu &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->
<!--Footer Section End-->





<!--<script type="text/javascript" src="/js/jquery.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/js/tether.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/tether.min.js"></script>-->
<!--<script type="text/javascript" src="/js/bootstrap.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; carousel Js &ndash;&gt;-->

<!--<script src="/js/owl.carousel.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/owl.carousel.js" type="text/javascript"></script>-->
<!--&lt;!&ndash; imagesloaded Js &ndash;&gt;-->
<!--<script src="/js/imagesloaded.pkgd.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>-->
<!--&lt;!&ndash; masonry,isotope Effect Js &ndash;&gt;-->
<!--<script src="/js/isotope.pkgd.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/isotope.pkgd.min.js" type="text/javascript"></script>-->
<!--<script src="/js/masonry.pkgd.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/masonry.pkgd.min.js" type="text/javascript"></script>-->
<!--<script src="/js/jquery.appear.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.appear.js" type="text/javascript"></script>-->
<!--&lt;!&ndash; parallax Js &ndash;&gt;-->
<!--<script src="/js/jquery.parallax-1.1.3.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.parallax-1.1.3.js" type="text/javascript"></script>-->
<!--<script src="/js/jquery.appear.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.appear.js" type="text/javascript"></script>-->
<!--&lt;!&ndash; revolution Js &ndash;&gt;-->
<!--<script type="text/javascript" src="/js/jquery.themepunch.tools.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.themepunch.tools.min.js"></script>-->
<!--<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.themepunch.revolution.min.js"></script>-->
<!--<script type="text/javascript" src="/js/revolution.extension.slideanims.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/revolution.extension.slideanims.min.js"></script>-->
<!--<script type="text/javascript" src="/js/revolution.extension.layeranimation.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/revolution.extension.layeranimation.min.js"></script>-->
<!--<script type="text/javascript" src="/js/revolution.extension.navigation.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/revolution.extension.navigation.min.js"></script>-->
<!--<script type="text/javascript" src="/js/revolution.extension.parallax.min.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/revolution.extension.parallax.min.js"></script>-->
<!--<script type="text/javascript" src="/js/jquery.revolution.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/jquery.revolution.js"></script>-->
<!--<script src="/js/custom.js" tppabs="http://theembazaar.com/demo/goldey/html/mark-educate/assets/js/custom.js" type="text/javascript"></script>-->



</body>
</html>
