<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOgin</title>
    <link rel="icon" href="/img/favicon.ico">
    <link th:href="@{/css/login_css.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body >
<!--<form th:action="@{/login}" method="post" >-->
<!--<div class="content">-->
    <!--<div class="title">Create account</div>-->
    <!--<input type="text" placeholder="E-mail"/>-->
    <!--<input type="password" placeholder="Password"/>-->
    <!--<input type="checkbox" id="rememberMe"/>-->
    <!--<label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy Policy</a></span>-->
    <!--<button>Create Account</button>-->
    <!--<div class="social"> <span>or sign up with social media</span></div>-->
    <!--<div class="buttons">-->
        <!--<button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>-->
        <!--<button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>-->
        <!--<button class="google"><i class="fa fa-google-plus"></i>Google</button>-->
    <!--</div>-->
    <!--<div class="already">Already have an account? <a href="#">Sign In</a></div>-->
<!--</div>-->
<!--</form>-->

    <form th:action="@{/login}" method="post" >

    <div class="content " >

        <div class="form"  style="opacity: 1.0;">
            <div class="text-center mb-4">
                <img class="mb-4" th:src="@{/img/slider1.jpg}" alt="" width="150" height="100" >
            </div>

            <form class="login-form" >


                <input type="" name = username placeholder="username"/>
                <input type="password" placeholder="password"/>

                <button>Login</button>

            </form>
        </div>
    </div>

    </form>

</body>
</html>


<!--<link th:href="@{/css/floating-labels.css}" rel="stylesheet">-->
    <!--&lt;!&ndash;<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">&ndash;&gt;-->

<!--</head>-->
<!--<body style="background-image: url('/img/our2.jpg');background-size: cover">-->
        <!--<form th:action="@{/login}" method="post" class="form-sign">-->
            <!--<div class="text-center mb-4">-->
                <!--<img class="mb-4" th:src="@{/img/slider1.jpg}" alt="" width="150" height="100">-->
            <!--</div>-->

            <!--<div class="form-label-group">-->
                <!--<input type="username" name="username" class="form-control" placeholder="Логін" >-->
                <!--<label>Логін</label>-->
            <!--</div>-->

            <!--<div class="form-label-group">-->
                <!--<input type="password" name="password" class="form-control" placeholder="Пароль" >-->
                <!--<label>Пароль</label>-->
            <!--</div>-->

            <!--<div class="checkbox mb-3">-->
                <!--<label>-->
                    <!--<input type="checkbox" value="remember-me"> Запам'ятати мене-->
                <!--</label>-->
            <!--</div>-->
             <!--<button class="btn btn-lg btn-primary btn-block" value="go!" type="submit">Ввійти</button>-->
            <!--&lt;!&ndash;<p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>&ndash;&gt;-->
        <!--</form>-->

<!--</body>-->
<!--</html>-->

<!--&lt;!&ndash;required autofocus&ndash;&gt;-->
<!--&lt;!&ndash;required&ndash;&gt;-->