<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>]
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>
    <body style="background-image: url('/img/our2.jpg')">




        <form th:action="@{/saveStudents}" method="Get">
            <div class="mb-4 text-center" style="border: 10px double black;width: 500px;  ">
            <div><label> Ім'я : <input type="text" name="name"/> </label></div>
            <div><label> Прізвище: <input type="text" name="surname"/> </label></div>
            <div><label> Електронна пошта: <input type="text" name="email"/> </label></div>
            <div><label> Телефон: <input type="text" name="phone"/> </label></div>
            <div><label> Місце проживання: <input type="text" name="adress"/> </label></div>
            <div><label> Стать:
                <input type="radio" name="gender" value="femeil"/>жінка
                <input type="radio" name="gender" value="meil"/>чоловік

            </label></div>
            <div><input type="submit" value="Sign In"/></div></div>
        </form>
    </body>
</html>