<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Test registration</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{../../css/main/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{../../images/icons/main.ico}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/multiple-select.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
            <div class="container">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center ">
                    <a class="navbar-brand brand-logo" th:href="@{index.html}">
                        <img th:src="@{../../images/icons/main.png}" alt="profile"/>
                    </a>

                </div>
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-center justify-content-lg-center">

                    <ul class="navbar-nav navbar-nav-right">

                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img th:src="@{../../images/faces/face5.jpg}" alt="profile"/>
                                <span class="nav-profile-name">Evan Morales</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="bottom-navbar">
            <div class="container">
                <ul class="nav page-navigation">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/schedule}">
                            <img th:src="@{../../images/icons/schedule.png}" alt="profile"/>
                            <span class="menu-title">Розклад занять</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/homework}">
                            <img th:src="@{../../images/icons/dz.png}" alt="profile"/>
                            <span class="menu-title">Домашня робота</span>
                        </a>
                    </li>
                    <li class="nav-item mega-menu">
                        <a th:href="@{/marks}" class="nav-link">
                            <img th:src="@{../../images/icons/classjornal.png}" alt="profile"/>
                            <span class="menu-title">Класний журнал</span>
                            <!--                <i class="menu-arrow"></i>-->
                        </a>

                    </li>

                    <li class="nav-item">
                        <a th:href="@{#}" class="nav-link">
                            <img th:src="@{../../images/icons/edit(24).png}" alt="profile"/>
                            <span class="menu-title">Додавання елементів</span>
                            <!--                <i class="menu-arrow"></i></a>-->
                        </a>
                        <div class="submenu">
                            <ul class="submenu-item">
                                <li class="nav-item"><a class="nav-link" th:href="@{/registrationFunctional}">Предмети(вибір)</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/registrationSubjects}">Предмети(додавання)</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/registrationClasses}">Класи</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/regAddElements/all}">Налаштування</a></li>
                            </ul>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a th:href="@{/saveNewUser}" class="nav-link">
                            <img th:src="@{../../images/icons/regg.png}" alt="profile"/>
                            <span class="menu-title">Реєстрація користувачів</span></a>


                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--     partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-md-6 grid-margin stretch-card">
                        <!--start-->


<!--<option value=""> &#45;&#45; </option>-->
<!--<option th:each="entry : ${mapSubjects.entrySet()}"-->
<!--th:value="${entry.value}"-->
<!--th:utext="${entry.key}">-->

<form th:action="@{/saveFunctional}" method="GET">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/crlcu/multiselect/master/dist/js/multiselect.min.js"></script>
    <!--<script th:src="@{/js/multiselect.js}"></script>-->
    <div class="row">
        <!-- Left side select -->
        <div class="col-xs-5 col-md-5 col-sm-5" style="width: 700px; font-size:  44pt;">
            <select name="fromArr" id="mySideToSideSelect" class="form-control" size="25" multiple="multiple"  style="font-size: 14px;">
                <!--<select name="name" id="mySideToSideSelect" class="form-control" size="8" multiple="multiple">-->
                <option value=""> --</option>
                <option th:each="entry : ${mapSubjects.entrySet()}"
                        th:value="${entry.value}"
                        th:utext="${entry.key}">
            </select>
        </div>

        <!-- Action buttons -->
        <div class="col-xs-2 col-md-2 col-sm-2">
            <button type="button" id="mySideToSideSelect_rightAll" class="btn btn-block"><i
                    class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="mySideToSideSelect_rightSelected" class="btn btn-block"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="mySideToSideSelect_leftSelected" class="btn btn-block"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="mySideToSideSelect_leftAll" class="btn btn-block"><i
                    class="glyphicon glyphicon-backward"></i></button>
        </div>

        <!-- Right side select -->
        <div class="col-xs-5 col-md-5 col-sm-5 margin-top-5 margin-bottom-25">
            <!--<select on name="name" id="mySideToSideSelect_to" class="form-control" size="8" multiple="multiple"></select>-->
            <select name="name" id="mySideToSideSelect_to" class="form-control" size="25" multiple="multiple" style="font-size: 14px;"></select>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#mySideToSideSelect').multiselect();
        });
    </script>
<div><button id="btn" type="submit" onclick="selectAllOptions(/*mySideToSideSelect_to*/)" value="Далі">Зберегти</button></div>

</form>

<script>
    function selectAllOptions() {
        let stringarr = [];

        let selectRigth = document.getElementById("mySideToSideSelect_to");

        for (var i = 0; i < selectRigth.options.length; i++) {
            selectRigth.options[i].selected = true;
            stringarr[i] = selectRigth.options[i].value;
        }

    }


</script>
</div>

<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<footer class="footer">
    <div class="w-100 clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.urbanui.com/" target="_blank">SchoolProject</a>. All rights reserved.</span>

    </div>
</footer>
<!-- page-body-wrapper ends -->
</div>
</div>
</div>
</body>
</html>